---
import visualcard2raw from '~/assets/icons/VisualCard2.svg';
import '~/assets/styles/feature-text.css';
---

<div class="visual-item-card visual-item-chat justify-end flex flex-col h-[70vh] px-[5vw] animate-slide-up-blur-delay-1">
  <div class="flex flex-col justify-end items-center gap-auto h-fit-content">
    <div class="text-center justify-start">
      <span class="body-medium text-cyan-200"> Anchor the Time <br/></span>
      <span class="text-small-cyan">Precisely enter your date and time of birth.<br/></span>
      <div class="h-2"> </div>
      <span class="body-medium text-cyan-200">Locate the Axis <br/></span>
      <span class="text-small-cyan">Determine your place and direction of birth.</span>
    </div>
    <div class="visual-card-svg w-[160px] h-[160px] flex justify-center animate-pulse">
        <div class="items-center" set:html={visualcard2raw} aria-hidden="true"></div>
    </div>
    <div class="flex flex-col justify-center items-center h-auto py-[2rem]">
      <p class="text-center body-small text-cyan-200/50">SERENA will merge the cosmic data stream to accurately calculate your unique destiny trajectory.</p>
    </div>
 </div>
</div>
