---
import visualcard3raw from '~/assets/icons/serena/VisualCard3.svg?raw';
import '~/assets/styles/feature-text.css';
---

<div
  class="visual-item-card visual-item-chat justify-center items-center flex flex-col h-[70vh] px-[5vw] animate-slide-up-blur-delay-1"
>
  <div class="visual-card-svg w-[300px] h-[500px] flex justify-center animate-pulse">
    <div class="items-center" set:html={visualcard3raw} aria-hidden="true" />
  </div>
</div>
