---
import Layout from '~/layouts/Layout.astro';
import SerenaActivity from '~/components/activitystyles/activity.astro';
import '~/styles/feature-text.css';

const metadata = {
  title: 'Activity — SERENA',
  description: 'Write down your question',
};
---

<Layout metadata={metadata}>

<!-- 鼠标控制 -->
<div class="relative bg-white flex flex-col text-white font-serena cursor-none">
  <div 
    id="custom-cursor" 
    class="pointer-events-none fixed top-0 left-0 w-3 h-3 bg-white rounded-full mix-blend-exclusion hidden md:block"
    style="z-index: 999999; wheel-change: transform;"
  ></div>

  <script>
    let mouseMoveHandler;
    document.addEventListener('astro:page-load', () => {
      const cursor = document.getElementById('custom-cursor');
      if (cursor) {
        if (mouseMoveHandler) {
          window.removeEventListener('mousemove', mouseMoveHandler);
        }

        mouseMoveHandler = (e) => {
          cursor.style.transform = `translate3d(${e.clientX}px, ${e.clientY}px, 0) translate(-50%, -50%)`;
        };

        window.addEventListener('mousemove', mouseMoveHandler, { passive: true });

        document.documentElement.style.cursor = 'none';
      }
    });
  </script>

<SerenaActivity />
  
</Layout>
