---
import Layout from '~/layouts/Layout.astro';
import SerenaActivity from '~/components/activitystyles/activity.astro';
import '~/styles/feature-text.css';

const metadata = {
  title: 'Activity — SERENA',
  description: 'Write down your question',
};
---

<Layout metadata={metadata}>


<SerenaActivity />
  </div>
</Layout>