---
import Layout from '~/layouts/Layout.astro';
import Activity2 from '~/components/serena/activity-2.astro';
import '~/assets/styles/feature-text.css';

const metadata = {
  title: 'Activity — Step 2',
  description: 'Second step of activity',
};
---

<Layout metadata={metadata}>
  <div class="relative bg-black flex flex-col text-white font-serena cursor-none">
    <div 
    id="custom-cursor" 
    class="pointer-events-none fixed top-0 left-0 w-3 h-3 bg-orange-200 rounded-full z-10 transition-transform duration-150 ease-out -translate-x-1/2 -translate-y-1/2"></div>
    <script>
      const cursor = document.getElementById('custom-cursor');

  document.addEventListener('mousemove', (e) => {
    if (cursor) {
      cursor.style.transform = `translate3d(${e.clientX}px, ${e.clientY}px, 0) translate(-50%, -50%)`;
    }
  });
</script>
    <Activity2 />
  </div>
</Layout>
