---
import mainBg from '~/assets/images/serena/main-bg.jpg';
import Mover from '../widgets/mainpage/mover.astro';

---

<section class="relative min-h-[200vh] w-full" id="mainPage">
  <!-- Main Background with Gradient -->
  <div class="absolute flex flex-col inset-0 bg-gradient-to-b from-[#000000] from-[60%] to-[#09a791] to-[90%] overflow-clip">
    <!-- Top Background Image -->
    <div class="relative h-[800px] w-full overflow-clip">
      <div class="absolute inset-0 h-[800px] pointer-events-none">
          <img
            src={mainBg.src}
            width={mainBg.width}
            height={mainBg.height}
            alt=""
            class="absolute h-[122.58%] left-[-9.75%] top-[-30%] w-[109.78%] max-w-none object-cover"
            loading="lazy"
            decoding="async"
          />
          <!-- Gradient mask overlay: transparent -> black -->
          <div class="absolute inset-0 pointer-events-none">
            <div class="bg-gradient-to-b from-[#00000008] from-[20%] to-[#000000] to-[60%] w-full h-full"></div>
          </div>
      </div>
    </div>
      <div class="relative justify-center h-full w-full inset-0 flex flex-col items-top justify-top overflow-clip">
      <Mover />
      <div class="relative w-full flex flex-col items-center justify-center bottom-[50vh]">
      <h2 class="relative body-large-captalize text-center text-white/60 animate-slide-up-blur">
        In the days of hesitation </h2>
      <h2 class="relative body-large-captalize text-center text-white/60 animate-slide-up-blur-delay-1">
        I am here to help you seek answer of future</h2>
      <h2 class="relative body-large-captalize text-center text-white/90 animate-slide-up-blur-delay-3">
         I hope, in the end, you will surpass me</h2>
      <h2 class="relative body-large-captalize text-center text-white/90 animate-slide-up-blur-delay-3">
         become the master of your own destiny</h2>
      </h2>
      </div>
    </div>
  </section>
