/* Additional styles for ASK ME cards */
.animation {
  --perspective: 800px;
  width: 100%;
  max-width: 480px;
  height: 400px;
  transform-style: preserve-3d;
  opacity: 0.75;
  transition: all 0.5s ease;
  perspective: 3000px;

  &:hover {
    opacity: 1;

    & .card-title.bak {
      color: #fff;
      transform: translate3d(0px, 0px, 1px);
      filter: blur(8px);
      opacity: 0.8;
    }

    & .balls {
      opacity: 1;
      animation: flicker 16s infinite ease;
      animation-delay: calc(-1s * var(--r));
    }

    .card-bg {
      box-shadow:
        inset 0 4px 5px #121212,
        inset 0 -2px 5px #242424;
    }
  }
}

.grid .area {
  position: relative;
  z-index: 1;
  user-select: none;
}

.area:nth-child(15):hover ~ .container-card .card {
  transform: perspective(var(--perspective)) rotateX(-15deg) rotateY(15deg);
}

.area:nth-child(14):hover ~ .container-card .card {
  transform: perspective(var(--perspective)) rotateX(-15deg) rotateY(7deg);
}

.area:nth-child(13):hover ~ .container-card .card {
  transform: perspective(var(--perspective)) rotateX(-15deg) rotateY(0);
}

.area:nth-child(12):hover ~ .container-card .card {
  transform: perspective(var(--perspective)) rotateX(-15deg) rotateY(-7deg);
}

.area:nth-child(11):hover ~ .container-card .card {
  transform: perspective(var(--perspective)) rotateX(-15deg) rotateY(-15deg);
}

.area:nth-child(10):hover ~ .container-card .card {
  transform: perspective(var(--perspective)) rotateX(0) rotateY(15deg);
}

.area:nth-child(9):hover ~ .container-card .card {
  transform: perspective(var(--perspective)) rotateX(0) rotateY(7deg);
}

.area:nth-child(8):hover ~ .container-card .card {
  transform: perspective(var(--perspective)) rotateX(0) rotateY(0);
}

.area:nth-child(7):hover ~ .container-card .card {
  transform: perspective(var(--perspective)) rotateX(0) rotateY(-7deg);
}

.area:nth-child(6):hover ~ .container-card .card {
  transform: perspective(var(--perspective)) rotateX(0) rotateY(-15deg);
}

.area:nth-child(5):hover ~ .container-card .card {
  transform: perspective(var(--perspective)) rotateX(15deg) rotateY(15deg);
}

.area:nth-child(4):hover ~ .container-card .card {
  transform: perspective(var(--perspective)) rotateX(15deg) rotateY(7deg);
}

.area:nth-child(3):hover ~ .container-card .card {
  transform: perspective(var(--perspective)) rotateX(15deg) rotateY(0);
}

.area:nth-child(2):hover ~ .container-card .card {
  transform: perspective(var(--perspective)) rotateX(15deg) rotateY(-7deg);
}

.area:nth-child(1):hover ~ .container-card .card {
  transform: perspective(var(--perspective)) rotateX(15deg) rotateY(-15deg);
}

.container-ask-now {
  perspective: 3000px;
  position: relative;
  width: fit-content;
  height: fit-content;
  background-color: rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(40px);
  border-radius: 25px;
  padding: 6rem;
  max-width: 480px;
  display: flex;
  align-items: center;
  justify-items: center;
  transform: translateX(-50%) translateY(-50%);
  transform-style: preserve-3d;
  z-index: 9;

  &:hover .card {
    transform: perspective(var(--perspective)) rotateX(0) rotateY(0) scale(1);
  }
}

.card {
  width: 350px;
  height: 175px;
  padding: 1.5px;
  border-radius: 2rem;
  background: rgba(0, 0, 0, 0.2);
  user-select: none;
  overflow: hidden;
  z-index: 9;
  transition: all 0.5s ease;
  transform: scale(0.9);
}

.card-bg {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  border-radius: 2rem;
  background-color: rgba(18, 18, 18, 0.75);
  padding: 1.625rem;
  transition: all 0.3s;
  perspective: 3000px;
  overflow: hidden;
  padding: 40px 60px;
  box-sizing: border-box;
  place-items: center;
}

.header-card {
  position: relative;
  display: flex;
  flex-direction: column;
  z-index: 999;
  cursor: default;
  pointer-events: none;
  padding-top: 1.5rem;
  transform-style: preserve-3d;
  transition: 0.7s;

  & .card-title {
    position: absolute;
    top: 0;
    color: #ffffff;
    font-size: 15px;
    font-weight: 600;
    height: 20px;
    transition: 0.4s;
    cursor: default;

    &.bak {
      opacity: 0;
    }
  }
}

.card-overlay {
  position: absolute;
  inset: 0;
  pointer-events: none;
}

.card-overlay .bg-overlay {
  width: 100%;
  height: 100%;
  border-radius: 2rem;
  background: repeating-conic-gradient(rgba(255, 255, 255, 0.05) 0.0000001%, #777 0.000104%) 60% 60%/600% 600%;
  filter: opacity(10%) contrast(105%);
}

.card-overlay .balls {
  position: absolute;
  filter: blur(32px);
  z-index: 0;
  opacity: 0.6;
  animation: flicker 20s infinite ease-in-out;
  animation-delay: calc(var(--r, 1) * -1.3s);
  transform-origin: center;
  transition: all 0.6s ease;
  mix-blend-mode: screen;
}

.card-overlay .balls:nth-child(2) {
  --r: 0.3;
  top: 50px;
  left: -40px;
  width: 60px;
  height: 80px;
  background-color: #9147ff;
}

.card-overlay .balls:nth-child(3) {
  --r: 1.7;
  top: -20px;
  left: 80px;
  width: 80px;
  height: 30px;
  background-color: #ffbe4e;
}

.card-overlay .balls:nth-child(4) {
  --r: 0.9;
  top: 10px;
  right: -80px;
  width: 80px;
  height: 60px;
  background-color: #ff4141;
}

.card-overlay .balls:nth-child(5) {
  --r: 0.6;
  bottom: 20px;
  right: -20px;
  width: 20px;
  height: 40px;
  background-color: #00ca4e;
}

.card-overlay .balls:nth-child(6) {
  --r: 1;
  bottom: -20px;
  right: 100px;
  width: 200px;
  height: 8px;
  background-color: #ff0002;
}

@keyframes flicker {
  0% {
    transform: scale(0.8) translateY(0);
    opacity: 0.15;
    filter: blur(28px) brightness(0.9);
  }
  10% {
    transform: scale(1.2) translateY(-2px);
    opacity: 0.9;
    filter: blur(30px) brightness(1.2);
  }
  23% {
    transform: scale(1.05) translateY(2px);
    opacity: 0.5;
    filter: blur(32px) brightness(0.8);
  }
  38% {
    transform: scale(1.35) translateY(-3px);
    opacity: 1;
    filter: blur(35px) brightness(1.4);
  }
  52% {
    transform: scale(0.9) translateY(1px);
    opacity: 0.3;
    filter: blur(27px) brightness(0.7);
  }
  70% {
    transform: scale(1.25);
    opacity: 0.8;
    filter: blur(33px) brightness(1.1);
  }
  85% {
    transform: scale(1.1);
    opacity: 0.45;
    filter: blur(31px) brightness(0.85);
  }
  100% {
    transform: scale(0.8);
    opacity: 0.1;
    filter: blur(28px) brightness(0.7);
  }
}
